<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Add Candidat</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>

</head>
<body>
<H1>Add new Candidate</H1>

<form th:action="@{/first/add}" method="POST">

<div class="form-group">
    <label for="exampleInputEmail1">Nom</label>
    <input type="text" name="nom" class="form-control">
    </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Prénom</label>
    <input type="text" name="prenom" class="form-control">
    </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control">
     </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>